:root{
  --body-bgcolor: gray;
  --header-footer-bgcolor: black;

  --nav-hovercolor: darkgray;
  --nav-activecolor: red;

  --content-bgcolor: white;

  --a-color: blue;
  --a-hovercolor: red;
  --a-activecolor: white;
  --a-visitedcolor: darkred;

  --selection-color: white;
  --selection-bgcolor: darkred;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: pixelFont;
  src: url("../../assets/fonts/minecraftia-webfont.woff");
}

body{
  background-color: var(--body-bgcolor);
  font-family: pixelFont, "Lucida Console", Monaco , monospace;
}

#content {
  background-color: var(--content-bgcolor);
  width: 90%;
  margin: 6px auto;
  border: 1px solid black;
}

::selection{
  color: var(--selection-color);
  background-color: var(--selection-bgcolor);
}

a{
  color: var(--a-color);
}

a:hover{
  color: var(--a-hovercolor);
}

a:active{
  background-color: var(--a-hovercolor);
  color: var(--a-activecolor);
}

a:visited{
  color: var(--a-visitedcolor);
}

header, footer{
  background-color: var(--header-footer-bgcolor);
  text-align: center;
}

nav {
  overflow: hidden;
  padding: 10px 0px;
}

nav ul {
  font-size: 0px;
}

nav ul li {
  display: inline-block;
  margin: auto;
  list-style: none;
  font-size: 1rem;
  height: 1rem;
}

li > a {
  margin: 10px 0px;
  padding: 12px 30px;
  text-decoration: none;
}

li > a{
  color: var(--a-color);
}

li > a:hover{
  background-color: var(--nav-hovercolor);
  color: var(--a-hovercolor);
}

li > a:active{
  background-color: var(--nav-hovercolor);
  color: var(--nav-activecolor);
}

li > a:visited{
  color: var(--a-visitedcolor);
}

.main{
  min-height: 800px;
}

iframe{
  margin: 3px auto;
  margin-left: 10px;
  display: block;
  float:left;
}

aside {
  margin: 3px auto;
  margin-left: 10px;
	width:28%;
	float:left;
	padding:20px;
	box-sizing:border-box;
}

#PlayersOnline{
  color: black;
  font-size: 30px;
  height: 50px;
  background:#1e90ff;
  text-align: center;
}

#List{
  margin-top: 10px;
  color: black;
  height: 150px;
  background:#1e90ff;
  text-align: center;
}

#title{
    font-size: 30px;
    margin-bottom:1px;
}

#username{
    border:1px solid #ACD8F0;
    width:325px;
    font-family: pixelFont;
    src: url("../../assets/fonts/minecraftia-webfont.woff");
}

#password{
    border:1px solid #ACD8F0;
    width:325px;
    font-family: pixelFont;
    src: url("../../assets/fonts/minecraftia-webfont.woff");
}

#chat{
    margin-top: 10px;
    height: 550px;
    color: black;
    background:#1e90ff;
    font-size: 30px;
    text-align: center;
}

#chatbox {
    font-size: 20px;
    text-align:left;
    margin:0 auto;
    margin-bottom:15px;
    padding:10px;
    background:#fffa;
    height:400px;
    width:380px;
    border:1px solid #ACD8F0;
    overflow:auto;
    font-family: pixelFont;
    src: url("../../assets/fonts/minecraftia-webfont.woff");
}

#usermsg {
    border:1px solid #ACD8F0;
    width:325px;
    font-family: pixelFont;
    src: url("../../assets/fonts/minecraftia-webfont.woff");
}

#Logger{
    font-size: 20px;
}

#server{
    margin-top: 10px;
    height: 50px;
    color: black;
    background:#1e90ff;
    font-size: 30px;
    text-align: center;
}

footer{
  color: white;
  clear:both;
  padding: 10px;
}

footer p{
  height: 24px;
}
